.jt-bg-cover {
  background-size: cover;
  background-position: center center;
}
.jt-bg-p {
  background-color: $primary-color;
}
.jt-bg-s {
  background-color: $secondary-color;
}
.jt-bg-a {
  background-color: $accent-color;
}
.jt-bg-w {
  background-color: white;
}
.jt-bg-k {
  background-color: black;
}
