body,
html {
  padding: 0;
  margin: 0;
  width:100%; overflow:hidden;
}

html{
  height:100%; 
  overflow-y:auto;
}

body{
  // padding-top:97px;
}

button {
  border: none;
  padding: 0;
  background-color: unset;
}

* {
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  outline: none;
}

#jtui-logo{
  letter-spacing: .2em;
}