
.jt-b-p {
  border: 1px solid $primary-color;
}
.jt-bt-p {
  border-top: 1px solid $primary-color;
}
.jt-br-p {
  border-right: 1px solid $primary-color;
}
.jt-bb-p {
  border-bottom: 1px solid $primary-color;
}
.jt-bl-p {
  border-left: 1px solid $primary-color;
}
.jt-bh-p {
  border-left: 1px solid $primary-color;
  border-right: 1px solid $primary-color;
}
.jt-bv-p {
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
}

.jt-b-s {
  border: 1px solid $secondary-color;
}
.jt-bt-s {
  border-top: 1px solid $secondary-color;
}
.jt-br-s {
  border-right: 1px solid $secondary-color;
}
.jt-bb-s {
  border-bottom: 1px solid $secondary-color;
}
.jt-bl-s {
  border-left: 1px solid $secondary-color;
}
.jt-bh-s {
  border-left: 1px solid $secondary-color;
  border-right: 1px solid $secondary-color;
}
.jt-bv-s {
  border-top: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;
}

.jt-b-a {
  border: 1px solid $accent-color;
}
.jt-bt-a {
  border-top: 1px solid $accent-color;
}
.jt-br-a {
  border-right: 1px solid $accent-color;
}
.jt-bb-a {
  border-bottom: 1px solid $accent-color;
}
.jt-bl-a {
  border-left: 1px solid $accent-color;
}
.jt-bh-a {
  border-left: 1px solid $accent-color;
  border-right: 1px solid $accent-color;
}
.jt-bv-a {
  border-top: 1px solid $accent-color;
  border-bottom: 1px solid $accent-color;
}

.jt-b-w {
  border: 1px solid white;
}
.jt-bt-w {
  border-top: 1px solid white;
}
.jt-br-w {
  border-right: 1px solid white;
}
.jt-bb-w {
  border-bottom: 1px solid white;
}
.jt-bl-w {
  border-left: 1px solid white;
}
.jt-bh-w {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.jt-bv-w {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.jt-b-k {
  border: 1px solid #333;
}
.jt-bt-k {
  border-top: 1px solid #333;
}
.jt-br-k {
  border-right: 1px solid #333;
}
.jt-bb-k {
  border-bottom: 1px solid #333;
}
.jt-bl-k {
  border-left: 1px solid #333;
}
.jt-bh-k {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.jt-bv-k {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

@for $i from 2 through 6 {
  .jt-b-#{$i} {
    border-width: #{$i}px;
  }
}
