// -----FONTS------//
//-------------------//

/* ==== Lineto Akkurat ========= */

@font-face {
  font-family: "jt-sans-bold";
  src: url("fonts/Oswald-Regular.woff");
}

@font-face {
  font-family: "jt-sans-light";
  src: url("fonts/Montserrat-Light.woff");
}