@for $i from 1 through 4 {
  .jt-m-#{$i} {
    @include responsiveSpacing("margin", $i);
  }
  .jt-mt-#{$i} {
    @include responsiveSpacing("margin-top", $i);
  }
  .jt-mr-#{$i} {
    @include responsiveSpacing("margin-right", $i);
  }
  .jt-mb-#{$i} {
    @include responsiveSpacing("margin-bottom", $i);
  }
  .jt-ml-#{$i} {
    @include responsiveSpacing("margin-left", $i);
  }
}

.jt-m-0 {
  margin: 0;
}
.jt-mt-0 {
  margin-top: 0;
}
.jt-mr-0 {
  margin-right: 0;
}
.jt-mb-0 {
  margin-bottom: 0;
}
.jt-ml-0 {
  margin-left: 0;
}