// -----MIXINS------//
//-------------------//

@mixin colWidth($cols) {
  width: ($cols/12) * 100%;
}

@mixin responsiveSpacing($prop, $factor) {
  #{$prop}: $space-base * $factor;

  @media (min-width: $ml-width) {
    #{$prop}: $space-base-ml * $factor;
  }
  @media (min-width: $ts-width) {
    #{$prop}: $space-base-ts * $factor;
  }
  @media (min-width: $tl-width) {
    #{$prop}: $space-base-tl * $factor;
  }
  @media (min-width: $ds-width) {
    #{$prop}: $space-base-ds * $factor;
  }
  @media (min-width: $dl-width) {
    #{$prop}: $space-base-dl * $factor;
  }
}

@mixin noSelect(){
  -webkit-touch-callout: none;
  @include prefix("user-select", none);
}

@mixin gutterOffset($gutter) {
  $full: $space-base * $gutter;
  $half: $full * 0.5;

  margin: (-$full) (-$half) 0 (-$half);

  > .jt-col {
    padding: ($full) ($half) 0 ($half);
  }
}

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin prefix(
  $property,
  $value,
  $prefixes: ("-webkit-", "-moz-", "-o-", "-ms-", "")
) {
  @each $prefix in $prefixes {
    #{$prefix}#{$property}: #{$value};
  }
}
