@for $i from 1 through 4 {
  .jt-p-#{$i} {
    @include responsiveSpacing("padding", $i);
  }
  .jt-pt-#{$i} {
    @include responsiveSpacing("padding-top", $i);
  }
  .jt-pr-#{$i} {
    @include responsiveSpacing("padding-right", $i);
  }
  .jt-pb-#{$i} {
    @include responsiveSpacing("padding-bottom", $i);
  }
  .jt-pl-#{$i} {
    @include responsiveSpacing("padding-left", $i);
  }
}

.jt-p-0 {
  padding: 0;
}
.jt-pt-0 {
  padding-top: 0;
}
.jt-pr-0 {
  padding-right: 0;
}
.jt-pb-0 {
  padding-bottom: 0;
}
.jt-pl-0 {
  padding-left: 0;
}