// -----TYPE------//
//-------------------//

body,
html {
  font-family: "jt-sans-light";
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  cursor:pointer;
}

a,
div,
button,
li,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size:inherit;
  font-weight: normal;
}

p{
  max-width:98%;
  &:not(:last-child){
    margin-bottom:1em;
  }
}

a,button{
  color:inherit;
  text-decoration: none;
  cursor:pointer;

  @include prefix("transition", "color .2s");

  &:hover{
    color: $highlight-color;
  }
}

h1,.jt-h1,
h2,.jt-h2,
h3,.jt-h3,
h4,.jt-h4,
h5,.jt-h5,
h6,.jt-h6 {
  font-family: "jt-sans-bold";
  margin-bottom: .6em;
  letter-spacing: -.01em;
  max-width:85%;

  &.jt-subhead{
    font-family: "jt-sans-light";
    margin-top:-.6em;
  }
}

body{
  font-size: 13px;
  line-height: 1.6;

  @media (min-width: $ml-width) {
    font-size: 15px;
  }
  @media (min-width: $tl-width) {
    font-size: 16px;
  }
  @media (min-width: $dl-width) {
    font-size: 17px;
  }
}

h1,.jt-h1{
  font-size:3.1em;
  line-height: 1.1;
}
h2,.jt-h2{
  font-size:2.5em;
  line-height: 1.1;
}
h3,.jt-h3{
  font-size:2em;
  line-height: 1.2;
}
h4,.jt-h4{
  font-size:1.6em;
  line-height: 1.3;
}
h5,.jt-h5{
  font-size:1.3em;
  line-height: 1.4;
}
h6,.jt-h6{
  font-size:1.1em;
}

.jt-text-small{
  font-size: .9em;
  line-height:1.4em;
}

