// -----UTILS------//
//-------------------//

.jt-fill {
  height: 100%;
  width: 100%;
}

.jt-fill-h {
  height: 100%;
  min-height: 100%;
}

.jt-fill-w {
  width: 100%;
}

.jt-clearfix {
  @include clearfix();
}

.jt-float-r {
  float: right;
}

.jt-float-l {
  float: left;
}

.jt-invert {
  color: white;

  *{
  	color: white;
  }
}

.jt-position-a{
  position: absolute;
}

.jt-muted{
  color:#666;

    *{
      color: #666;
    }

  &.jt-invert{
    color:#ccc;

    *{
      color: #ccc;
    }
  }
}

.jt-sans-light{
  font-family: "jt-sans-light" !important;
}

.jt-noselect {
 @include noSelect();
}

.jt-text-l{
  text-align:left;
}

.jt-text-r{
  text-align:right;
}

.jt-text-c{
  text-align:center;
}

.jt-valign-m{
  position:absolute;
  top:50%;
  @include prefix(transform, translateY(-50%));
  margin-top:0 !important; margin-bottom:0 !important;
}

i.fal.fa-bars{
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-top:-5px;
}

.jt-overflow-h{
  overflow:hidden;
}

.jt-inline-block{
  display:inline-block;
}