// -----VARIABLES------//
//-------------------//

$primary-color: rgb(15,15,15);
$secondary-color: rgb(230,230,230);
$accent-color: rgb(250,250,250);
$highlight-color: rgb(118, 148, 189);

$space-base: 10px;
$space-base-ml: 14px;
$space-base-ts: 16px;
$space-base-tl: 18px;
$space-base-ds: 22px;
$space-base-dl: 26px;

$ml-width: 380px;
$ts-width: 630px;
$tl-width: 760px;
$ds-width: 1140px;
$dl-width: 1400px;
