// -----ACCORDION------//
//-------------------//

.jt-accordion {
  width: 100%;

  > .group {
    width: 100%;

    > button {
      width: 100%;
      text-align: left;
      margin:0;

      i{
        margin-right:40px;
        margin-top:5px;
        display: inline-block;
      }

      *{
        vertical-align: middle;
      }
    }

    > .panel {
      width: 100%;
      overflow: hidden;
      max-height: 0;

      @include prefix("transition", "max-height 0.2s 0s");
    }

    &.active{
      > button >i{
        @include prefix(transform, rotate(90deg));
        @include prefix("transition", "transform 0.2s 0s, -webkit-transform 0.2s 0s");
      }
    }
  }
}
