// -----CAROUSEL------//
//-------------------//

.jt-carousel{
  .jt-carousel-inner{
    @include prefix(transition, "max-height .2s .2s");
    @include clearfix();
    overflow:hidden;

    .jt-carousel-slide{
      float:left;
      opacity:0;

      @include prefix(transform, translateY(-24px));
      @include prefix(transition, "opacity .2s .2s, transform .2s .2s, -webkit-transform .2s .2s");

      &.active{
        @include prefix(transform, translateY(0));
        opacity:1;
      }
    }
  }
}

// -----SLDER CAROUSEL------//
//-------------------//

.jt-slider-carousel {
  >.jt-carousel-content{
    overflow: hidden;

    >.jt-carousel-slides-wrapper{
       overflow:hidden;

      >.jt-carousel-slides{
        @include clearfix();

        @include prefix( transition, "transform .2s .2s, -webkit-transform .1s .1s" );

        &.kill-transition{
          @include prefix( transition, "transform 0s 0s, -webkit-transform 0s 0s" );
        }

        >.jt-carousel-slide{
          float:left;

          &.clone{
            
          }
        }
      }
    }
  }

  &.jt-grid-gutter {
    >.jt-carousel-content
    >.jt-carousel-slides-wrapper{
      margin:0 -$space-base*.5;

      >.jt-carousel-slides
      >.jt-carousel-slide
      >.jt-slide-card{
        padding:0 $space-base*.5;
      }
    }
  }

  &.jt-grid-gutter-2 {
    >.jt-carousel-content
    >.jt-carousel-slides-wrapper{
      margin:0 -$space-base;

      >.jt-carousel-slides
      >.jt-carousel-slide
      >.jt-slide-card{
        padding:0 $space-base;
      }
    }
  }

  &.jt-grid-gutter-4 {
    >.jt-carousel-content
    >.jt-carousel-slides-wrapper{
      margin:0 -$space-base*2;

      >.jt-carousel-slides
      >.jt-carousel-slide
      >.jt-slide-card{
        padding:0 $space-base*2;
      }
    }
  }
}
