// -----DROPDOWN------//
//-------------------//

.jt-dropdown {
  position: relative;

  > .dropdown-content {
    height:100vh;
    max-height: 0;
    position: absolute;
    z-index: 1;
    background: white;
    overflow:hidden;

    @include prefix("transition", "max-height 0.3s 0s");
  }
}
