// -----GRID------//
//-------------------//

.jt-grid {
  box-sizing: border-box;

  @include clearfix();

  &.jt-grid-gutter {
    @include gutterOffset(1);
  }

  &.jt-grid-gutter-2 {
    @include gutterOffset(2);
  }

  &.jt-grid-gutter-4 {
    @include gutterOffset(4);
  }
}

.jt-col {
  float: left;
  box-sizing: border-box;
}

// -----MOBILE SMALL------//
//-------------------//

@for $i from 1 through 12 {
  .jt-col-#{$i} {
    @include colWidth($i);
  }
}

// -----MOBILE LARGE------//
//-------------------//

@media (min-width: $ml-width) {
  @for $i from 1 through 12 {
    .jt-col-#{$i}-ml {
      @include colWidth($i);
    }
  }
}

// -----TABLE SMALL------//
//-------------------//

@media (min-width: $ts-width) {
  @for $i from 1 through 12 {
    .jt-col-#{$i}-ts {
      @include colWidth($i);
    }
  }
}

// -----TABLET LARGE------//
//-------------------//

@media (min-width: $tl-width) {
  @for $i from 1 through 12 {
    .jt-col-#{$i}-tl {
      @include colWidth($i);
    }
  }
}

// -----DESKTOP SMALL------//
//-------------------//

@media (min-width: $ds-width) {
  @for $i from 1 through 12 {
    .jt-col-#{$i}-ds {
      @include colWidth($i);
    }
  }
}

// -----DESKTOP LARGE------//
//-------------------//

@media (min-width: $dl-width) {
  @for $i from 1 through 12 {
    .jt-col-#{$i}-dl {
      @include colWidth($i);
    }
  }
}
