.jt-navigation{
  >nav{
    ul{
      list-style:none;
      padding-left:0;
      margin-top:0; margin-bottom:0;

      li{
        &:not(:last-child){
          margin-bottom:8px;
        }

        &.jt-nav-head{
          margin-bottom:16px;
        }
      }
    }
  }
}

ul.jt-dot-nav, ul.jt-arrow-nav{
    list-style: none; padding:0;
    margin-top:0;
    margin-bottom:0;
    @include clearfix();

    li{
      float: left;
      cursor:pointer;

      &:not(:last-child){
        margin-right:10px;
      }
    }
  }

  ul.jt-arrow-nav{
    li{
      line-height:19px;
      height:19px;

      i{
        line-height:19px;
        font-size: 19px;
      }
    }
  }

  ul.jt-dot-nav{
    li{
      width:10px;
      height:10px;
      background-color: black;

      &.active{
        background-color:$secondary-color;
      }
    }
  }

  .jt-carousel-navigation{
     
    
    nav{
      height:60px;
      position:relative;
    }

    .jt-carousel-title, 
    .jt-dot-nav, 
    .jt-arrow-nav{
      display:inline-block;
      vertical-align: middle;
      position: absolute;
      top:50%;
      @include prefix(transform, translateY(-50%));
    }

    .jt-arrow-nav{
      right:0;
    }

    .jt-dot-nav{
      left:50%;
      @include prefix(transform, translateY(-50%) translateX(-50%));
    }
  }

  #main-nav-bar{
    width:100%;
    z-index: 1;
    top:0;
  }