
.icon-search-1:before { content: '\f002'; } /* '' */
.icon-chevron-left:before { content: '\f053'; } /* '' */
.icon-chevron-right:before { content: '\f054'; } /* '' */
.icon-chevron-up:before { content: '\f077'; } /* '' */
.icon-chevron-down:before { content: '\f078'; } /* '' */
.icon-bars:before { content: '\f0c9'; } /* '' */