button {
}

.jt-dropdown {
  > .dropdown-content {

    > .inner {
      > a {
        display: block;
        text-decoration: none;
        &:not(:first-child) {
        }
      }
    }
  }
}

.jt-accordion {
  > .group {
    > button {
    }
    > .panel > div {
    }
  }
}

i.fal {
}
